container_commands:
  01_create_media_dir:
    command: "mkdir -p /var/app/current/media && chown webapp:webapp /var/app/current/media"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true
  03_migrate:
    command: "python manage.py migrate"
    leader_only: true
  04_create_superuser:
    command: "python manage.py create_superuser"
    leader_only: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_change_permissions.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      chown -R webapp:webapp /var/app/current/media