files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_change_permissions.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      chown -R webapp:webapp /var/app/current/media

container_commands:
  01_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true
  02_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  03_createsuperuser:
    command: "python manage.py shell -c \"from django.contrib.auth import get_user_model; User = get_user_model(); user, created = User.objects.get_or_create(username='admin'); user.set_password('Mudar1234'); user.is_superuser=True; user.is_staff=True; user.save()\""
    leader_only: true