container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_createsuperuser:
    command: "python manage.py shell -c \"from django.contrib.auth.models import User; User.objects.filter(username='admin').exists() or User.objects.create_superuser('admin', 'admin@example.com', '84952769$')\""
    leader_only: true